---
layout: default
title: Mark E. Madsen's Lab Notebook
---


<div class="nb">
	<blockquote>
	N.B. -- At present (late May 2013), I am still migrating notes from a previous wiki-based lab notebook and a local laptop-based wiki.  This process will take awhile for the Wikitext notes, unless I write a conversion script.  
	</blockquote>
</div>

<p class="blank-space"/>

<div id="home">
	<h2 class="fade">Categories:</h2>
	<ul class="posts">
		{% for category in site.categories %}
			<li>{{ category[0] }}</li>
			<ul class="posts">
				{% for post in category[1] %}
					<li><a href="{{ post.url }}">{{ post.title }}</a><span class="index_publish_date">{{ post.date | date_to_string }}</span></li>
				{% endfor %}
			</ul>
		{% endfor %}
	</ul>
</div>

<p class="blank-space"/>


<div  id="home">
  <h2 class="fade">Notes by Date:</h2>
  <ul class="posts">
    {% for post in paginator.posts %}
      <li><a href="{{ post.url }}">{{ post.title }}</a><span class="index_publish_date">{{ post.date | date_to_string }}</span></li>
    {% endfor %}
  </ul>
  
	<div class="pagination">
		{% if paginator.previous_page %}
		<a href="/page{{ paginator.previous_page }}" class="previous">Previous</a>
		{% else %}
		<span class="previous">Previous</span>
		{% endif %}
		<span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
		{% if paginator.next_page %}
		<a href="/page{{ paginator.next_page }}" class="next">Next</a>
		{% else %}
		<span class="next ">Next</span>
		{% endif %}
	</div>
</div>





